p {
	margin: 0;
}
/* Contact button mod */
nav {
	backdrop-filter: revert;
	-webkit-backdrop-filter: revert;
}
#contact:hover {
	background: white;
	color: black;
}
#contact:hover span {
	border-color: black;
}

/* Main stuff */
#main, #bio {
    height: 100vh;
    display: inline-block;
}
#main {
	width: 66.666%;
	text-align: left;
	padding: 3vh;
	box-sizing: border-box;
}
#main > *:first-child {
	width: 25%;
	display: inline-block;
}
#main img {
	width: 100%;
}
#bio {
	width: 33.333%;
	background: #f90;
	float: right;
	z-index: 1;
	box-sizing: border-box;
	padding: 0 3vh;
}
#bio h1 {
	text-align: right;
	color: white;
	line-height: 10vh;
	margin-bottom: 0;
}
#attr {
	width: 100%;
	text-align: center;
	padding: 1vh 0;
	transition: 0.4s;
	font-family: "Chakra Petch", sans-serif;
}
#attr:hover {
	box-shadow: 0 0.3vh #f90;
}

/* Tabs */
#tabNav {
	position: relative;
	z-index: 1;
}
#pages {
	width: 75%;
	float: right;
	box-sizing: border-box;
	padding: 0 0 0 3vh;
}
#pages h2 {
	margin-bottom: 2vh;
}
.tab {
	width: 33%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	transition: 0.4s;
	padding: 1vh 0 1vh 0;
}
.tab:hover {
	font-weight: 550;
}
.right {
	float: right;
}
.active {
	box-shadow: 0 0.3vh #f90;
	font-weight: 550;
}
.tabCont {
	display: none;
	width: 75%;
	margin: auto;
	margin-top: 3vh;
	animation: 0.8s fade-in;
	overflow: scroll;
	height: 85vh;
}
.tabCont div {
    font-family: "Chakra Petch", sans-serif;
}
.tabCont > div {
	padding-bottom: 2vh;
	overflow: auto;
}
.tag {
	width: 40%;
	float: left;
}
.level {
	background: rgb(230, 230, 230, 0.65);
	width: 50%;
	height: 1vh;
	display: inline-block;
	float: right;
	position: relative;
	top: 1vh;
}
.level::after {
	content: '';
	background: #f90;
	display: block;
	height: 1vh;
	width: var(--width);
	animation: 1s bar-fade;
}

/* Bio */
.pronouns {
	text-align: right;
	padding: 0;
	color: white;
	font-family: "Ojuju", sans-serif;
}
.statement {
	text-align: left;
	padding-top: 10vh;
}

/* Contact page */
#socials {
	width: 33.333%;
	float: right;
	background: black;
	color: white;
	position: relative;
	z-index: 2;
}
#formBox {
	width: 66.666%;
	position: relative;
}

/* Form */
#form {
	width: 50%;
	margin: 0 25%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
input, textarea {
	width: 100%;
	box-sizing: border-box;
	font-family: "Chakra Petch", sans-serif;
	font-size: 2.3vh;
	margin-bottom: 3vh;
	padding: 3vh;
	border: none;
	border-bottom: solid 0.3vh #f90;
	resize: none;
	transition: 0.4s;
}
textarea {
	height: 15vh;
}
input:focus, textarea:focus {
	background: rgb(230, 230, 230, 0.65);
	outline: none;
}
button {
	display: block;
	width: 50%;
	margin: 3vh 25%;
	box-sizing: initial;
	background: none;
	cursor: pointer;
	border: none;
	font-family: "Ojuju", sans-serif;
	font-size: 2.3vh;
	font-weight: 550;
	padding: 3vh 0;
	transition: 0.4s;
}
button:hover {
	box-shadow: 0 0.3vh #f90;
}
::placeholder {
	font-family: "Chakra Petch", sans-serif;
}

/* Thank you screen */

#thanks {
	font-size: 10vh;
	font-weight: 700;
	cursor: default;
}
#thanks:target {
	display: flex;
}
.modal-cover {
	display: none;
	width: 100%;
	height: 100%;
	background: rgb(0, 0 ,0 ,0.8);
	color: white;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}
.modal-cover a {
	position: fixed;
	top: 3vh;
	right:3vh;
	font-size: 3vh;
	z-index: 3;
	transition: 0.4s;
}
.modal-cover a:hover {
	color: #e64040;
}
.modal-cover a:after {
	content: " \2573";
}

/* Fade-in animation */
@keyframes fade-in {
	0% {
		opacity: 0%;
		}
	100% {
		opacity: 1;
		}
}
@keyframes bar-fade {
	0% {
		width: 0%;
		}
	100% {
		width: var(--width);
		}
}