/* General */
p {
	margin: 0;
}
.panels {
    height: 100vh;
    display: inline-block;
    overflow-y: auto;
}
#main, .grid {
	animation: 0.8s fade-in;
}

/* Home */
.info {
    color: #f90;
}
.cont {
    margin: 0 9vh 9vh 9vh;
    padding-bottom: 6vh;
    transition: 0.4s;
}
.cont div {
	width: 100%;
	aspect-ratio: 3/2;
	transition: 0.4s;
	overflow: hidden;
}
.cont:hover div {
	background-size: 110%;
	box-shadow: 0 -0.5vh #f90;
}
.cont:hover h2 {
	font-weight: 650;
}
.cont img {
	min-height: 100%;
}
.cont:hover img {
	transform: scale(1.03);
}
.desc {
	transition: 0.4s;
    opacity: 0.65;
}
.desc p  {
    padding-left: 2vh;
    padding-right: 2vh;
}
.cont:hover .desc {
	opacity: 1;
}

/* Sheets */
#sheet {
	position: relative;
}
.sheets {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sheets h1{
	line-height: 60vh;
}
.hidden {
	display: none;
}
#portfolioIndex:target, #ellaPage:target, #paintingIndex:target {
	display: block;
}
.back span {
	transform: rotate(225deg);
    padding: 2vh;
	margin-top: 5vh;
	color: white;
	opacity: 0.85;
}
.back span:hover {
	color: black;
	opacity: 1;
}
.backPaint span:hover {
	color: #f90;
}

/* Portfolio */
#title {
    width: 33.333%;
	background: #f90;
	color: white;
	position: relative;
	z-index: 2;
}
#archive, #current {
    width: 50%;
	scroll-behavior: smooth;
}
#current {
    float: right;
    background: black;
    color: white;
}

/* Grid */
.grid {
    width: 66.666%;
	float: right;
	padding-bottom: 10vh;
	box-sizing: border-box;
}
.grid::-webkit-scrollbar-thumb {
	background: black;
}
#currentGrid, #archiveGrid {
	display: inline-block;
	margin-bottom: 0;
}
#currentGrid h2, #archiveGrid h2 {
	margin-bottom: 0;
}
.gridItem {
	font-family: "Chakra Petch", sans-serif;
	float: left;
	width: 33.333%;
	height: 33.333%;
	box-sizing: border-box;
	padding: 5vh;
	transition: 0.4s;
}
.gridImg {
	height: 20vh;
	overflow: hidden;
	transition: 0.4s;
}
.gridImg img {
	min-height: 20vh;
}
.gridDesc {
	padding: 2vh 0 2vh 0;
	transition: 0.4s;
}
.gridItem:hover .gridDesc{
	box-shadow: 0 0.3vh #f90;
}
.gridItem:hover img {
	transform: scale(1.1);
}

/* Ella page */
#main, #bio {
    height: 100vh;
    display: inline-block;
}
#main {
	width: 66.666%;
	text-align: left;
	padding: 3vh;
	box-sizing: border-box;
}
#main > *:first-child {
	width: 25%;
	display: inline-block;
}
#main img {
	width: 100%;
}
#bio {
	width: 33.333%;
	background: #f90;
	float: right;
	box-sizing: border-box;
	padding: 0 3vh;
}
#bio h1 {
	text-align: right;
	color: white;
	line-height: 10vh;
	margin: 15vh 0 0 0;
}
#attr {
	width: 100%;
	text-align: center;
	padding: 1vh 0;
	transition: 0.4s;
	font-family: "Chakra Petch", sans-serif;
}
#attr:hover {
	box-shadow: 0 0.3vh #f90;
}

/* Ella page tabs */
#tabNav {
	position: relative;
}
#pages {
	width: 75%;
	float: right;
	box-sizing: border-box;
	padding: 0 0 0 3vh;
}
#pages h2 {
	margin-bottom: 2vh;
}
.tab {
	width: 33%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	transition: 0.4s;
	padding: 1vh 0 1vh 0;
}
.tab:hover {
	font-weight: 550;
}
.right {
	float: right;
}
.active {
	box-shadow: 0 0.3vh #f90;
	font-weight: 550;
}
.tabCont {
	display: none;
	width: 75%;
	margin: auto;
	margin-top: 3vh;
	animation: 0.8s fade-in;
	overflow: scroll;
	height: 85vh;
}
.tabCont div {
    font-family: "Chakra Petch", sans-serif;
}
.tabCont > div {
	padding-bottom: 2vh;
	overflow: auto;
}
.tag {
	width: 40%;
	float: left;
}
.level {
	background: rgb(230, 230, 230, 0.65);
	width: 50%;
	height: 1vh;
	display: inline-block;
	float: right;
	position: relative;
	top: 1vh;
}
.level::after {
	content: '';
	background: #f90;
	display: block;
	height: 1vh;
	width: var(--width);
	animation: 1s bar-fade;
}

/* Bio */
.pronouns {
	text-align: right;
	padding: 0;
	color: white;
	font-family: "Ojuju", sans-serif;
}
.statement {
	text-align: left;
	padding-top: 10vh;
}
svg {
	width: 5vh;
	height: 5vh;
}
.redes {
	width: fit-content;
	display: grid;
	grid-template-columns: auto auto auto;
	float: right;
}
.redes a div {
	color: white;
	font-weight: normal;
	padding: 5vh 0 0 2vh;
	opacity: 0.85;
	transition: 0.4s;
}
.redes a div:hover {
	color: black;
	opacity: 1;
}

/* Painting panel */
#paintPan {
	width: 33.333%;
	float: right;
	background: black;
	color: white;
	position: relative;
	z-index: 2;
}



/* Animation */
@keyframes ella {
	0% {
		padding: 50vh 0 50vh 0;
		width: 100%;
		opacity: 0.85;
		font-size: 3.5vh;
		color: white;
		pointer-events: none;
		}
	30% {
		padding: 50vh 0 50vh 0;
		opacity: 0.85;
		font-size: 3.5vh;
		color: white;
		}
	80% {
		padding: 1vh 0 1vh 0;
		width: 100%;
		opacity: 1;
		pointer-events: none;
		}
	100% {
		width: 33.333%;
		pointer-events: revert;
		}
}
@keyframes Nella {
	0% {
		width: 0%;
		}
	80% {
		width: 0%;
		}
	100% {
		width: 33.333%;
		}
}
@keyframes fade-in {
	0% {
		opacity: 0%;
		}
	100% {
		opacity: 1;
		}
}
@keyframes bar-fade {
	0% {
		width: 0%;
		}
	100% {
		width: var(--width);
		}
}