<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="David Fons Lathrop">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
		<title>TITLE</title><!-- Tab title: CAPS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,300&family=Ojuju:wght@200..800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,300&family=Ojuju:wght@200..800&display=swap">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/page.css">
		<link rel="shortcut icon" href="/img/icon.ico"/>
	</head>
	<body>
        <my-nav></my-nav>
		<div id="wrapper">
		
		
			<h1 id="title">TITLE</h1><!-- Page title: CAPS -->
			
			
			<!-- Avoid spaces in folder names -->
			<!-- For best effect, make sure images that go side by side are exactly the same size -->
			<!-- All page content goes inside #modules -->
			<div id="modules">
			
			
				<!-- Intro: project statement, location, date -->
				<section id="intro" class="side-by-side">
					<div></div><!--Leave empty-->
					<div>
						<p id="summary">A short summary or project statement. Keep it relatively short. This is enough.</p>
                        <p id="location">Where the work was produced, and/or exhibited.</p>
						<!-- The date should be formatted as 'July 2026' or as 'March 2026 - July 2026'. Please always capitalize the month, and include the year for dates -->
                        <p id="date">Month xxxx</p>
					</div>
				</section>
				
				
                <!-- Gallery 1: cover image, remove 'X' from class to make set of 2 -->
				<section id="gallery1" class="Xside-by-side">
					<img src="main.webp"/>
					<!-- <img src="1.webp"/> -->
				</section>
				<div class="caption">Credits</div>
				
				
				<!-- Toolbox and Collaborators -->
				<section id="tool-collab" class="side-by-side" data-nav="Toolbox and Collaborators">
					<div>
						<h3>IN COLLABORATION WITH</h3>
						<p>Item 1</p>
						<p>Item 2</p>
						<p>Item 3</p>
						<p>Item 4</p>
						<p>Item 5</p>
						<p><a href="example.com" target="_blank">Link 1</a></p>
						<p><a href="example.com" target="_blank">Link 2</a></p>
						<p><a href="example.com" target="_blank">Link 3</a></p>
						<p><a href="example.com" target="_blank">Link 4</a></p>
						<p><a href="example.com" target="_blank">Link 5</a></p>
					</div>
					<div>
						<h3>TOOLBOX</h3>
						<p>Item 1</p>
						<p>Item 2</p>
						<p>Item 3</p>
						<p>Item 4</p>
						<p>Item 5</p>
						<p><a href="example.com" target="_blank">Link 1</a></p>
						<p><a href="example.com" target="_blank">Link 2</a></p>
						<p><a href="example.com" target="_blank">Link 3</a></p>
						<p><a href="example.com" target="_blank">Link 4</a></p>
						<p><a href="example.com" target="_blank">Link 5</a></p>
					</div>
				</section>
				
				
				<!-- Gallery 2: complimentary photos of process and people, remove 'X' from class to make set of 2 -->
				<section id="gallery2" class="Xside-by-side">
					<img src="2.webp"/>
					<!-- <img src="3.webp"/> -->
				</section>
				<div class="caption">Credits</div>
				
				
				<!-- Description -->
				<section id="description" class="side-by-side" data-nav="Description">
					<div></div><!--Leave empty-->
					<div>
						<p>A description of the work and everything that entails. A description of the work and everything that entails. A description of the work and everything that entails. A description of the work and everything that entails. A description of the work and everything that entails.</p>
						<p>Then, a second paragraph if need be. Delete me if not necessary. Copy me if you need another</p>
					</div>
				</section>
				
				
				<!-- Gallery 3 & 4: 2 sets of 2 OR 2 singles OR embedded video, different combinations are allowed, remove 'X' from class to make set of 2 -->
				<section id="gallery3" class="Xside-by-side">
					<img src="4.webp"/>
					<!-- <img src="5.webp"/> -->
				</section>
				<section id="gallery4" class="Xside-by-side">
					<iframe title="vimeo-player" src="https://player.vimeo.com/video/764942248?h=a35b017187" frameborder="0"></iframe><!--Embedded links should look like this, please remove the fluff that they usually come with-->
					<!-- <img src="6.webp"/> -->
				</section>
				<div class="caption">Credits</div>
				
				
				<!-- Context: OPTIONAL -->
				<section id="context" class="side-by-side" data-nav="Context">
					<div></div><!--Leave empty-->
					<div>
						<p>Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good. Some extra context to make sure we all good.</p>
						<p>Then, a second paragraph if need be. Delete me if not necessary. Copy me if you need another</p>
					</div>
				</section>
				
				
				<!-- Gallery 5 & 6: 2 sets of 2 OR 2 singles OR embedded video, different combinations are allowed, remove 'X' from class to make set of 2 -->
				<section id="gallery5" class="Xside-by-side">
					<img src="7.webp"/>
					<!-- <img src="8.webp"/> -->
				</section>
				<section id="gallery6" class="Xside-by-side">
					<iframe title="vimeo-player" src="https://player.vimeo.com/video/764942248?h=a35b017187" frameborder="0"></iframe><!--Embedded links should look like this, please remove the fluff that they usually come with-->
					<!-- <img src="9.webp"/> -->
				</section>
				<div class="caption">Credits</div>
				
				
			</div>
		</div>
		<div id="contNav"><div id="cNavWrap"></div></div>
		<script type="text/javascript" src="/nav.js"></script>
		<script type="text/javascript" src="/page.js"></script>
	</body>
</html>